################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vs-2017/x64/Debug
/vs-2017/.vs/dragonfly/v15
